body{
    margin: 0;
    padding: 0;
    background: #fff;
    text-decoration: none;
    font-family: 'RobotoLightNew', 'Ubuntu', helvetica, sans-serif;
    width: 1358.700px;
    height: 2056.560px;
}

nav {
    position: fixed;
    top: 0;
    max-width: 100%;
    display: flex;
    border-top-color: rgb(1, 87, 155);
    border-top-width: 3.62319px;
    border-top-style: solid;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 0px;
}


.navContainer {
    display: flex;
    width: 100vw;
    padding: 10px 0 10px 0;
}

.navContainer > .logo, 
.navContainer > .navMain {
    justify-content: space-between;
}

.navMain{
    list-style: none !important;
    padding-left: 20vw;
    display: flex;
    overflow: hidden;
    margin-left: auto;
    align-items: center;
    padding-right: 20px;
}

.logoHolder{
    margin: 0;
    padding-left: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.logoHolder a, .logo {
    padding: 0;
}

.logoText{
    font-size: 24px;
}

a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.loginBtn {
    border-radius: 25px;
    padding: 6px 15px;
}

.sliderHolder{
    width: 500px;
    height: 300px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20vh;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}




